.listbar {

	font-size: 18px;
}

.posttext{

	font-size: 20px;
	line-height:150%;
}

.mybutton {

	font-size: 20px;
	border-color: black;
}

.postingtitle {
font-size: 28px;
font-style: italic;
color: black;

}

.posting {
font-size: 24px;
font-style: italic;
color: #D05B54;

}

.editdesc {
	font-family: Arapey;
	font-style: italic;

	text-align: center;
}

.nice
    {
    font-family: Lato;
    text-align: center;
    }